<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  {{#if logged_in}}
  <p class="comment-below">Type comment here</p>
  <form class="comment-form">
    <div="input-group">
      <textarea class="comment-text"></textarea>
    </div>
    <button class="btn btn-primary" type="submit" id="submit-comment" data-id ="{{id}}">Submit comment</button>
  </form>
  {{else}}
  <p class="comment-message">Log in to comment on blog</p>
  {{/if}}
</div>

  <h5 id="comment-header">Comments</h5>
  <div class = "comments">
    {{comment}}
    {{#each comments as |comment| }}

      <p>{{comment.id}}</p>
      <p>{{comment.description}}</p>
      <p>Posted by {{comment.user_id}} on {{format_date comment.date_created}}</p>

    {{/each}}
  </div>

<script src="../js/blog.js"></script>