<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create New Tech Blog:</h3>

    <form class="form new-blog-form">
      <div class="form-group">
        <label for="blog-name">Title:</label>
        <input class="form-input" type="text" id="blog-name" name="blog-name" />
      </div>
      <div class="form-group">
        <label for="blog-desc">Description:</label>
        <textarea class="form-input" id="blog-description" name="blog-description"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" id="create-btn">Create</button>
      </div>
    </form>
  </div>

  {{#if blogs.length}}
  <div class="col-md-6 blog-list">
    <h3>Current Blogs:</h3>

    {{#each blogs as |blog|}}
      <div class="col-md-8" id="blog-container">
        <h4><a href="/blog/{{blog.id}}" class="dashboard-blogs">{{blog.name}}</a></h4>
        <button class="btn btn-sm btn-success" id="update-blog-btn" data-id="{{blog.id}}">UPDATE</button>
        <button class="btn btn-sm btn-danger" id="delete-blog-btn" data-id="{{blog.id}}">DELETE</button>
      </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/dashboard.js"></script>
